
html, body {
    margin: 0;
    height: 100%;
    background-color: rgb(252, 252, 252);
    font-family: Arial, Helvetica, sans-serif;
}

main {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
}

#gradient-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 100%;
}

#preview-window {
    border-right: 2px solid black;
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, red, blue);
}

#panel-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    color: white;
    background-color: rgb(34, 34, 34);
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    vertical-align: middle;
    border-bottom: 2px solid black;
}

#panel-buttons {
    display: flex;
    flex-direction: column;
}

#layer-list {
    width: 100%;
}