:root {
    --panel-background: white;
    --panel-accent: rgb(34, 34, 34);
    --panel-text-color: #fcfcfc;
    --panel-layer-background: #222222;
}

html, body {
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin: 0;
}

main {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

#preview-window {
    position: relative;
    border-right: 2px solid var(--panel-accent);
    height: 100%;
    flex-grow: 1;
    background: linear-gradient(135deg, #ff95f3, #008080);
}

#preview-button-container {
    display: flex;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

#preview-button-container button {
    cursor: pointer;
    margin: 0 7px 0 7px;
    width: 100px;
    height: 50px;
    opacity: 0.2;
    border-radius: 15px;
    outline: none;
    background-color: var(--panel-background);
    font-size: 0.7em;
    transition: opacity 0.3s;
    font-weight: 600;
}

#preview-button-container button:hover {
    opacity: 1;
}

#preview-button-container.unclickable button {
    cursor: default;
}

#preview-button-container.unclickable button:hover {
    opacity: 0.2;
}

#preview-button-container.unclickable button:focus {
    border-style: outset;
}

#layer-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--panel-background);
    width: 400px;
    min-width: 400px;
    height: 100%;
}

#panel-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    color: var(--panel-text-color);
    background-color: var(--panel-accent);
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    font-size: 1.3em;
    vertical-align: middle;
    cursor: default;
}

#layer-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid var(--panel-accent);
    overflow-y: scroll;
}

#layer-list::-webkit-scrollbar {
    display: none;
}

.layer-container {
    height: 60px;
    background-color: var(--panel-layer-background);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid var(--panel-text-color);
}

.current-layer {
    background-color: #58B09C;
}

.hide-layer-container {
    padding-left: 5px;
    display: flex;
    justify-content: center;
    flex: 0.5;
}

.hide-layer-button {
    cursor: pointer;
    border: 3px solid white;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.hide-layer-button:hover {
    background-color: #FFFFFF80;
    
}

.hidden-layer .hide-layer-button {
    background-color: #FFFFFF00;
}

.layer-title {
    display: flex;
    align-items: center;
    color: var(--panel-text-color);
    font-weight: 600;
    flex: 1;
    width: 100%;
    height: 100%;
}

.layer-title {
    cursor: pointer;
}

.current-layer .layer-title {
    cursor: default;
}

.layer-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 80%;
    flex: 3;
}


.layer-button, .layer-opacity-container{
    background-color: transparent;
    cursor: pointer;
    font-weight: 600;
    color: var(--panel-text-color);
    outline: none;
    height: 100%;
    border: 0;
    
    flex: 1;
    flex-grow: 1;
    transition: border 0.3s ease;
}

.layer-opacity-container {
    position: relative;
}

.layer-button:hover {
    background-color: #9d9d9d55;
}

.current-layer .layer-button:hover {
    background-color: #00000055;
}

.direction-button {
    flex: 0.2;
    font-size: 1.2em;
}

.layer-container:first-child .up-button {
    opacity: 0.2;
    cursor: default;
}

.layer-container:first-child .up-button:hover {
    background-color: transparent;
}

.layer-container:last-child .down-button {
    opacity: 0.2;
    cursor: default;
}

.layer-container:last-child .down-button:hover {
    background-color: transparent;
}


.layer-opacity-input-container {
    top: 25%;
    position: absolute;
    background-color: white;
    padding: 6px 5px 6px 5px;
    border-radius: 5px;
}

.layer-opacity-selector {
    margin: 0 auto;
    width: 100%;
}



#color-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--panel-accent);
    border-radius: 0 0 15px 15px;
    color: var(--panel-text-color);
    font-weight: 600;
    padding: 10px 0 10px 0;
}

#color-controls-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

#color-button {
    position: relative;
    left: -7px;
    background-color: violet;
    height: 40px;
    width: 40px;
    padding: 0;
    margin: 15px;
    border-radius: 50%;
    border: 2px solid var(--panel-text-color);
}

#color-selector {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 0;
    opacity: 0;
}

#opacity-container {
    text-align: center;
    font-size: 0.8em;
}

#opacity-container p {
    margin: 3px 0 3px 0;
}

#panel-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--panel-background);
}

.panel-button {
    font-weight: 700;
    padding: 10px;
    outline: none;
    color: var(--panel-accent);
    width: 80%;
    border: 2px solid var(--panel-accent);
    border-radius: 15px;
    cursor: pointer;
    margin: 7px 0 7px 0;
    background-color: var(--panel-background);
    transition: box-shadow 0.3s ease-in-out;
}

.panel-button:hover {
    box-shadow: 0 0 4px 1px var(--panel-accent);
    transform: scale(1.01);
}

.panel-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
}

#layer-button {
    border-radius: 15px 0 0 15px;
    border-right: 0;
    flex: 5
}

#random-layer-button {
    border-radius: 0 15px 15px 0;
    border-left: 0;
    flex: 1;
    border-left: 1px solid var(--panel-accent);
}

#current-layer-button {
    border-radius: 15px 0 0 15px;
    border-right: 0;
}

#all-layers-button {
    border-radius: 0 15px 15px 0;
    border-left: 0;
}

.layer-preview-choice {
    color: var(--panel-text-color);
    background-color: #58B09C;
    cursor: default;
}

.layer-preview-choice:hover {
    box-shadow: none;
    transform: none;
}

svg {
    width: 100%;
    height: 100%;
}

svg line {
    cursor: crosshair;
}

.hidden {
    display: none;
}

svg circle {
    cursor: move;
}